@font-face{
    font-family: 'flaticon';
    src: url('../fonts/Flaticon.woff') 
}

@font-face{
    font-family: 'Fontawesome';
    src: url('../fonts/FontAwesome.otf') 
}

@font-face{
    font-family: 'Fontawesome webfont';
    src: url('../fonts/fontawesome-webfont.eot') 
}

body {
    line-height: 17px;
    background-color: #fbfbfb;
}

a {
    color: #1b252f;
    text-decoration: none;
}

.a_post {
    color: #1b252f;
    text-decoration: none !important;
    font-weight: 900;
}

ul {
    list-style-type: none;
    margin: 10;
} 

.fas {
    padding: 5px 1px 20px 0px;
    color: #501680;
    text-decoration: none !important;
}

.fas:hover {
    color: #a062d3;
    display: block;
    text-decoration: none !important;
}

.fas_details {
    font-size: 15px;
    margin-left: 3px;
    color: rgb(90, 86, 86);
}

.fa-trash-alt:hover{
    color: rgb(0, 0, 0)
}

.nav_img {
    height: 33px;
    border-radius: 18px;
    vertical-align: center;
    margin-left: 10px;
    margin-top: 7px;
}

.vnav_img {
    height: 33px;
    border-radius: 18px;
    border: 2px solid #d2cdcd;
}
.fas a:active {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.nav_user {
    padding: 14px 0px 0px 7px;
    font-size: 15px;
    font-family: Font Awesome 5 Free;
    font-weight: 572;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 60px;
    background-color: white;
    border-bottom-style: 2px solid #fbfbfb;
    margin: 0 0 10px 0;
    display: inline-flex;
    padding: 7px 1px 1px 10px;
    position: fixed;
    z-index: 75;
}


.logo a{
    font-family: 'flaticon', 'sans-serif';
    margin-left: 10px;
    font-size: 150%;
    position: relative;
    top: 15;
    color: #501680;
}

.logo a:hover {
    text-decoration: none;
    color: #a062d3;
}

.a_post:hover {
    text-decoration: underline !important;
    color: black
}

nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;

}



nav a{
    color: #501680;
    text-decoration: none !important;
    font-size: 17px;
    top:3
}


nav a:hover{
    border-bottom: 7px white;
    color: #a062d3;
}


.wrapper {
    margin: 0;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.wrapper2 {
    margin: 0;
    position: relative;
    padding: 0 10px;
    width: 100%;
    min-width: 950px;
}

.column {
    background-color: #fbfbfb;
    padding: 10px;
    border: 1px solid #e7e3ea;
    border-radius: 2px;
    margin-top: 33px;
    z-index: -1;
}

.columns {
    background-color: #fbfbfb;
    padding: 10px;
    margin-top: 33px;
    z-index: -1;
}

.user_details {
    width: 350px;
    float: left;
    margin-bottom: 20px;
    position: fixed;
}

.user_details_left_right {
    display: inline-block;
    width: 125px;
    position: absolute;
    margin-top: 30px;
}

.main_column {
    float: right;
    width: 65%;
    z-index: -1;
    min-height: 160px;
    padding: 32px;
    margin-right: -27px;
    margin-top: 91px
}

.main_column_profile {
    float: left;
    width: 47%;
    z-index: -1;
    min-height: 160px;
    padding: 32px;
    margin-left: 370px;
    margin-top: 73px;
}



.post_form { 
    width: 100%;
}

.post_form textarea {
    width: 80%;
    height: 50px;
    border-radius:0px;
    margin-right: 1px;
    font-size: 12px;
    border: 1px solid #bdbdbd!important;
    font-family: sans-serif;
    padding: 5px;
    resize: none;
}

textarea:focus {
    outline: 0;
}

.post_form input[type="submit"] {
    width: 12%;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: #501680;
    font-family: monospace;
    color: #ffffff;
    position: absolute;
    outline: 0;
    margin-left: 11px;
    
}

.post_form input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
    color: black
}

.status_post {
    font-size: inherit;
    min-height: 75px;
    width: 96%;
    cursor: pointer;
}

.post_profile_pic {display: inline-block;margin-right: 10px;
    margin-bottom: 10px;}

.posted_by {display: inline-block;}

.post_profile_pic img {
    border-radius: 25px;
}

.comment_iframe {
    max-height: 250px;
    width: 100%
}
.comment_section {
    padding: 0px 5px 10px 5px;
}
.comment_section img{
    padding: 0 9px 3px 3px;
    height: 35px;
}

#comment_form textarea{
    border:2px solid #bdbdbd;
    resize: none;
    width: 367px;
    height: 40px;
    color: black;
    font-size: 14px;
    margin: 3px 1px -3px 4px;
    padding: 5px;
    word-break: break-all;
}

#comment_form input[type="submit"]{
    border:none;
    background-color: #7e37b8;
    color: #fbfbfb;
    border-radius: 20px;
    width: 19%;
    height: 43px;
    position: absolute;
    margin: 3px;
    font-family: monospace;

}

.newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    color: #978d8d;
    margin-top: 10px;
}

.newsfeedPostOptions iframe {
    border: 0px;
}

.like_div {
    float: left;
}

.profile_info_bottom {
    margin: 17px;
    color: #1b252f;
    font-weight: 900;
}

.username_profile {
    text-align: center;
    margin-left: 10px;

}
.profile_details {
    display: inline-flex;
    float: left;
    padding: 16px 37px 0px 0px;
    margin: 9px 13px 6px -36px;
}

.individual_profile_details {
    padding: 0px 10px 12px 0px;
}

.profile_details_style {
    margin: 0px 4px 0px 0px;
    color: #1b252f;
    font-weight: 900;
    text-align: center;
}

.a_username_profile  {
        color: #1b252f;
        font-weight: 900;
}
.flname {
    font-size: 24px;
    display: inline-block;
}

.flnameandusername {
    padding: 14px 0px 0px 10px;
    margin-left: -16px;
}

.comment_like {
    background-color: #fbfbfb;
    border: none;
    font-size: 14px;
    color: #978d8d;
    padding: 0px;
    height: 18px;
    width: 53px;
    margin: 0;
    border-radius: 4px;

}

.comment_unlike {
    background-color: #fbfbfb;
    border: none;
    font-size: 14px;
    color: #c41919;
    padding: 0px;
    height: 18px;
    width: 53px;
    margin: 0;
    border-radius: 4px;

}

.like_value {
    display: inline;
    font-size: 14px;
}

.profile_left {
    top: 50px;
    width: 50%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    position: relative;
    background-color: #fbfbfb;
    color: #7e37b8;
    margin-left: 50%;
}

.plane-paper {
    color: #501680;
    background-color: #fbfbfb;
    border: 0px;
    padding: 0px 0px 0px 4px;
    transition: 4s ease-in-out;
    -webkit-transition: 4s ease-in-out;
    -moz-transition: 4s ease-in-out;
}

.profile_left img {
    height: 149px;
    margin-top: 39px;
    min-width: 80px;
    border-radius: 100px;
    border: 5px solid #d2cdcd;
    margin-top: 39px;
}

.profile_info {
    display: inline-flex;
    padding: 19px 0px 5px 0px;
    margin-left: -45px;
}


.profile_info p {
    word-wrap: break-word;
    margin: 0 0 0 0;
    margin-left: 15px; 
}

.danger {
    background: #7e37b8;
    border-radius: 7px;
}
.warning {
    background: #7e37b8;
    border-radius: 7px;
}
.default {
    background: #7e37b8;
    border-radius: 7px;
    float: left;
    margin-left: -87px;
}

.success  {
    background: #7e37b8;
    border-radius: 7px;
}

.profile_left input[type="submit"] {
    width: 62%;
    height: 40px;
    border: none;
    color: #fff;
    margin: 13px 0 0 7px;
}

#accept_button {
    width: 20%;
    height: 33px;
    margin-top: 9px;
    border-radius: 14px;
    border: none;
    background: #7e37b8;
    color: #fff;
    margin-right: 14px;
}

#ignore_button {
    width: 20%;
    height: 33px;
    margin-top: 9px;
    border-radius: 14px;
    border: none;
    background: #7e37b8;
    color: #fff;
}

#message_textarea {
    width: 80%;
    margin-right: 8px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #7e37b8 !important;
    padding: 5px;
    resize: none;
    border: none;
    vertical-align: middle;
    font-size: 15px;
}

#message_submit {
    border: 0px;
    vertical-align: middle;
    background-color: #FFF;
    color: #7e37b8;
}

.message {
    border: 1px solid #7e37b8;
    border-radius: 13px;
    padding: 15px;
    display: inline-block;
    max-width: 45%;
    color: #7e37b8;
}
.message#left {
    border-color: #7e37b8;
    float: left;
    clear:both;
    border-top-left-radius: 0px;
    color: #7e37b8;
    margin-bottom: 10px;
}

.message#right {
    float: right;
    margin-bottom: 10px;
    clear:both;
    border-top-right-radius: 0px;
    background-color: #7e37b8;
    color: white;
}

.loaded_messages {
    height: 100%;
    min-height: 300px;
    max-height: 400px;
    margin-bottom: 15px;
    overflow: scroll;
}

.loaded_conversations {
    max-height: 239px;
    overflow: scroll;
}

.user_found_messages {
    border-bottom: 1px;
    padding: 8px 8px 14px 8px;
}

.user_found_messages:hover {
    background-color: #d3d3d3; 
    color: #501680;
}

.user_found_messages img{
    height: 35px;
    float: left;
}
#grey {
    color: #7d7b7b;
}

.resultDisplay {
    padding: 5px 5px 0px 5px;
    height: 60px;
}

.resultDisplay a {
    float:none;
}

.resultDisplay:hover {
    background-color: #e7e4e4;
    text-decoration: none;
}

.liveSearchProfilePic img {
    height: 50px;
    border-radius: 20px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.liveSearchText{
    background-color: transparent;
    color: #7e37b8;
}

.liveSearchText p {
    margin-left: 10px;
    font-size: 12px;
    color: #000000;
}

#search_text_input {
    margin-bottom: 9px
}

/* Dropdown Button */
.dropbtn {
    background-color: #fbfbfb;
    border: none;
    height: 30px;
    padding: 0px 40px 20px 101px;
}
    